/* Browser Reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* Variables */
:root {
  --dark: #5f6066;
  --gray: #8a8ca5;
  --light-gray: #e7e7e8;
  --brown: rgb(170, 60, 60);
  --background: rgba(170, 60, 60, 0.2);
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  width: 100%;
  max-height: 100%;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  color: var(--brown);
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--brown);
}

p {
  font-size: 1.5rem;
  color: var(--dark);
}

a {
  font-size: 1.5rem;
  color: var(--brown);
  text-decoration: none;
}

.bg-circle-1,
.bg-circle-2,
.bg-circle-3,
.bg-circle-4,
.bg-circle-5,
.bg-circle-6 {
  background-color: var(--background);
  border-radius: 50%;
}

.bg-circle-1 {
  width: 500px;
  height: 500px;
  position: absolute;
  top: -10rem;
  left: -10rem;
}

.bg-circle-2 {
  width: 400px;
  height: 400px;
  position: absolute;
  top: -8rem;
  left: -8rem;
}

.bg-circle-3 {
  width: 200px;
  height: 200px;
  position: absolute;
  top: -1rem;
  left: -1rem;
}

.bg-circle-4 {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 20rem;
  left: 30rem;
}

.bg-circle-5 {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 12rem;
  left: 63rem;
}

.bg-circle-6 {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 9rem;
  left: 60rem;
}

/* Navigation */
nav {
  padding: 1rem;
  position: fixed;
  top: 0;
  /* left: 5%; */
  /* line-height: 3.5rem; */
  width: 100%;
  border-bottom: solid 1px var(--brown);
  background-color: white;
}

nav a {
  font-weight: 400;
  color: var(--brown);
  /* border: solid 1px var(--brown); */
}

.branding {
  margin-left: 8%;
}

.circle {
  background-color: var(--brown);
  display: inline-block;
  width: 1rem;
  height: 1rem;
  /* margin-right: 3px; */
  border-radius: 50%;
}

.auth-buttons {
  position: fixed;
  right: 15%;
  top: 2rem;
  margin-right: 60px;
}

.signin {
  font-size: 1rem;
  padding: 5px 8px;
  margin: -15px 10px 0 10px;
  border-radius: 5px;
}

/* .signup {
  background-color: var(--brown);
  color: var(--light-gray);
} */

.signin {
  background-color: var(--brown);
  color: var(--light-gray);
}

/* Main-Content */
.main-content {
  width: 70%;
  margin: 7rem auto 2rem auto;
  display: flex;
}

.section-1 {
  width: 70%;
  flex: 1;
}

.section-2 {
  width: 25%;
  flex: 1;
}

.section-1 p {
  max-width: 500px;
  line-height: 3rem;
}

.action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.action-call {
  background-color: white;
  margin: 30px 0;
  text-align: center;
  width: 10rem;
  height: 3rem;
  box-shadow: 0px 5px 20px 0px rgba(75, 79, 124, 0.8);
  padding-top: 4px;
  border-radius: 10px;
  font-weight: bold;
  color: var(--brown);
  /* border: solid 1px var(--brown); */
}

.your-vote {
  text-align: center;
  padding: 2.5rem;
  background: var(--brown);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.your-vote p {
  color: var(--light-gray);
}

.fa-thumbs-up {
  color: var(--light-gray);
}

.circle-vote {
  border: solid 1px var(--light-gray);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-bottom: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  text-align: center;
  margin: 0;
  padding: 1rem 0;
}

/*
* Sign up Page 
 */
/* .background {
  min-height: 200px;
  min-width: 200px;
  background-color: var(--background);
  position: absolute;
} */

.main-content-signup {
  display: flex;
  flex-direction: column;
}

.tabs {
  margin: auto;
  width: 35%;
  /* background-color: var(--brown); */
  display: flex;
  justify-content: center;
  justify-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: solid 1px var(--light-gray);
  border-right: solid 1px var(--light-gray);
  border-left: solid 1px var(--light-gray);
}

.create,
.login {
  padding: 1rem;
  color: var(--light-gray);
  font-weight: normal;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: all ease-out 1s;
}

.create {
  border-top-left-radius: 5px;
}

.login {
  border-top-right-radius: 5px;
}

.darkBg {
  background-color: var(--brown);
  color: var(--light-gray);
}

.lightBg {
  /* background-color: var(--light-gray); */
  color: var(--dark);
}

.main-signup {
  background-color: var(--background);
  padding: 0 2rem 2rem 2rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 5px 20px 0px rgba(75, 79, 124, 0.1);
  margin: auto;
  width: 35%;
}

input {
  margin-top: 1rem;
  padding: 1rem;
  font-weight: 0.5rem;
  font-size: 1rem;
  width: 100%;
  border-radius: 5px;
  transition: all ease-out 1s;
}

.button {
  background-color: var(--brown);
  width: 50%;
  padding: 0.5rem;
  border-radius: 5px;
  margin: 1.5rem auto 0 auto;
  color: var(--light-gray);
  cursor: pointer;
  text-align: center;
}

.pw-reset {
  display: flex;
  justify-content: center;
}

.pw-reset a {
  font-size: 1rem;
  text-align: center;
  padding-top: 1rem;
}

/*
* User Profile Page 
 */

.main-content-profile {
  width: 80%;
  margin: 5.5rem auto 0 auto;
  /* border-left: solid 1px var(--brown); */
  /* padding: 2rem; */
}

.content-profile {
  display: flex;
  /* background-color: var(--brown); */
}

/* Profile page Menu Icons from Font-awesome */
.vote-icon .fa-thumbs-up,
.cast-icon,
.contest-icon,
.setting-icon,
.logout-icon {
  padding: 1rem 0.5rem;
  color: var(--light-gray);
  cursor: pointer;
  /* border-bottom: solid 1px var(--light-gray); */
}

.vote-name,
.cast-name,
.contest-name,
.setting-name,
.logout-name {
  padding: 0.5rem;
  color: var(--light-gray);
  cursor: pointer;
  /* border-bottom: solid 1px var(--light-gray); */
}

.vote-name p,
.cast-name p,
.contest-name p,
.setting-name p,
.logout-name p {
  color: var(--light-gray);
  padding-top: 0.1rem;
  font-weight: 400;
  font-size: 1.5rem;
}

.menu-icons {
  background-color: var(--brown);
  width: 2rem;
  /* border-right: solid 1px var(--light-gray); */
}

.menu-names {
  background-color: var(--brown);
  width: 15rem;
}

/* Display Area */

.display-area {
  padding: 1rem;
}

.parties {
  display: flex;
  flex-wrap: wrap;
}

.party {
  width: 4rem;
  height: 4rem;
  border: solid 1px var(--brown);
  border-radius: 5px;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--brown);
  font-weight: bold;
  cursor: pointer;
  flex: 1;
}

.voted-party p {
  margin-top: 1rem;
  font-size: 1rem;
}

table {
  margin-top: 1rem;
}

table,
th,
td {
  border: solid 1px var(--brown);
  border-collapse: collapse;
}

th {
  text-transform: uppercase;
}

th,
td {
  padding: 0.5rem;
  text-align: left;
}

.footer-profile {
  border-top: solid 1px var(--brown);
}

.user-login {
  line-height: normal;
  position: fixed;
  right: 10%;
  top: 50px;
  margin-right: 60px;
}

.user-login p {
  color: var(--brown);
  font-weight: normal;
  font-size: 1rem;
}

/* Voting page */
.btn-vote {
  width: 8rem;
  background-color: var(--brown);
  text-align: center;
  margin-top: 1rem;
  border-radius: 5px;
  cursor: pointer;
  padding: 1rem;
}

.btn-vote a {
  color: var(--light-gray);
  font-size: 1rem;
  margin: 1rem 0;
  font-weight: bold;
}

/* Admin Page */
/* .admin-content {
  border: solid 1px var(--brown);
  width: 40%;
} */
.table-create,
.table-create td {
  border: none;
}

/* .table-create td,
.table-office-list td,
.table-office-list th {
  text-align: left;
  padding: 0 1rem 0 0;
} */

.input-admin {
  border: solid 1px var(--dark);
  padding: 0.5rem;
}

.btn-create-party,
.btn-create-office {
  color: var(--light-gray);
  background-color: var(--brown);
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.office-party-list {
  margin-top: 4rem;
}

.edit-delete {
  text-decoration: underline;
  font-size: 1rem;
  padding: 1rem;
}

.office-party-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex: 1;
}
